body{
    background-color: rgba(216, 240, 239, 1);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

#section-logo {
    background-image: url(img/fundo\ logo\ pokemon\ 1680-PhotoRoom.jpg);
}

#logo-pokemon {
    height: 15vw;
    margin-top: 2%;
    margin-right: 2%;
}

#logo-lovers{
    height: 50px;
    margin-left: 25%;
    margin-bottom: 2%;
    margin-top: -2%;
    
}

.only-btn{
    align-items: center;
    width: 100%;
    margin-bottom: 1%;
}

.btn-input{
    padding-top: 1%;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background-color: rgb(34, 89, 176)  
    
}
.input-label{
    width: 40%;
}

#labelSearch{
    font-size: 130%;
    color: white;
}

.btn-select{
   margin-top: 1%; 
   display: none;
}

.selects{
    font-size: 130%;
    margin-left: 3%;
    cursor: pointer;
    margin-bottom: 1%;
    border-radius: 5px;
    width: 8%;
}

.button{
    cursor: pointer;
    font-size: 130%;
    background-color: white;
    border-radius: 5px;
    word-spacing:10px;
    margin-right: 2%;
    height: 100%;
    width: 100px;
    padding: 9px;
    border: 2px white solid;
}

.button:hover{
    background-color: rgb(237, 201, 233);

}

#input-search{
    width: 50%;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.search{
    display: none;
}

main{
    margin: 3%;
}

*{
    margin: 0;
}


.inf-world-pokemon{
    display: inline-flex;
}

#inf-pokemon{
    font-size: 20px;
    text-align: start;
    background-color: rgb(237, 201, 233);
    border:rgb(41, 0, 128) dotted 10px;
    margin: 5% 1% 5% 1%;
    border-radius: 10px;
    padding: 2%;
}

#stats-type{
    font-size: 150%;
    margin-left: 15%;
    margin-bottom: 4%;
    font-family: system-ui;
    background: #FDDDE2;
    width: 70%;

}

.one-container{
    display: inline-flex;
    position:relative;
    width: 25%;
    height: 78vh;
    background: yellow;
    border-radius: 31px;
    padding: 1vw;
    margin: 2%;
    box-shadow: inset 0 0 2em rgb(159, 74, 149);
}
.second-container{
    position: relative;
    align-content:center;
    padding: 2%;
    padding-top: 4%;
    margin: 2%;
    height: 95%;
    background-color: rgba(190, 217, 88, 1);
    border-radius: 31px;
}
.text-about{
    text-align: justify;
    padding: 2%;
    margin: 0%;
    font-size: 15px;
}

hr{
    margin: 0%;
}

.text-resistant{
    font-size: 15px;
    text-align: start;
    margin: 1%;
}

.attack-defense-stamina{
    font-size: 15px;
}


.third-container{
    position: relative;
    padding: 1%;
    background-color: rgba(254, 200, 2, 1);
    border-radius: 8px;
    width: 90%;
    margin-left: 4%;
}

.text-name-number, .type-rarity{
    text-align: center;
    margin: 3%;
    word-spacing: 10px;
}

.image-pokemon{
    margin-bottom: 0%;
    width: 80%;
    border-radius:5%;
    background-image: linear-gradient(to right,darkgreen, rgba(108, 141, 94, 1),rgb(119, 218, 119) );
}
.text-pokemon-stats{
    text-align: center;
    margin: 3%;
    word-spacing: 1px;
    font-size:12px;
}


footer{
    margin-bottom: 1%;
}


@media screen and (max-width:1024px) {
    .inf-world-pokemon{
        display: block;
    }

    .one-container{
        display: block;
        margin: auto;
        width: 50%;
        height: 100%;
        margin-bottom: 5%;
    }    
} 

 @media screen and (min-width: 1700px) {

    #inf-pokemon{
        font-size: 30px;
    }
    
    .inf-world-pokemon{
        align-items: center;
    }

    .one-container{
        height: 60vh;
    }
}